* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 0;
}

nav#main-nav {
    width: 100%;
    position: relative;
    text-align: right;
    top: 0;
    color: #ffffff;
    background-color: #ffffff;
}

nav#main-nav > ul {
    float: right;
}

nav#main-nav > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

nav#main-nav > ul > li.menu-item {
    display: inline-block;
    width: 200px;
    font-size: 20px;
    margin-right: 20px;

}

#main-nav > ul > li > a {
    text-decoration: none;
}

#main-nav > ul > li > a:hover {
    color: navy;
}

#main-header {
    background-image: url(../zdj/img/manu-schwendener-39728-unsplash.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
}

#main-header .main-header-content {
    text-align: center;
    padding: 50px;
    padding: 30vh;
}

#main-header .main-header-content h1 {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
}

#main-header .main-header-content h2 {
    font-weight: 300;
    font-size: 2em;
}

#about {
    background-color: #f9fcfe;
    overflow: hidden;
    width: 100%;
}

#about > h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 35px;
}

#about > h2 > span {
    color: navy;
    font-weight: 700
}

#about > figure {
    width: 50%;
    float: left;
    margin: 0;
}

#about > figure > img {
    max-width: 250px;
    margin-left: 5%;
    margin-right: 10%;
}

#about > article {
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    width: 30%;
    float: left;
    padding-right: 100px;
}

#exp {
    background-color: white;
    overflow: hidden;
    width: 100%;
}

#exp > h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 35px;
}

#exp > h2 > span {
    color: navy;
    font-weight: 700
}

.portfolio-item {
    height: 350px;
    width: 33%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: relative;
}

#portfolio-items {
    font-size: 0;
}

#portfolio-item-1 {
    background-image: url("../zdj/img/jeshoots-com-655112-unsplash.jpg");
}

#portfolio-item-2 {
    background-image: url("../zdj/img/pascal-habermann-638190-unsplash.jpg");
}

#portfolio-item-3 {
    background-image: url("../zdj/img/willian-justen-de-vasconcellos-667258-unsplash.jpg");
}

#portoflio #portfolio-items {
    text-align: center;
    font-size: 0;
}

#portfolio #portfolio-items .portfolio-item .item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

#portfolio #portfolio-items .portfolio-item .item-mask:hover {
    opacity: 1;
}

#portfolio #portfolio-items .portfolio-item .item-mask .item-content {
    height: 330px;
    border: 1px solid #fff;
    margin: 10px;
    position: relative;
}

#portfolio #portfolio-items .portfolio-item .item-mask .item-content .item-content-inner {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
}

#skills {
    background-color: #f9fcfe;
    overflow: hidden;
    width: 100%;
}

#skills > h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 35px;
}

#skills > h2 > span {
    color: navy;
    font-weight: 700
}

#skills > p {
    color: black;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#skills-icons > figure {
    display: inline-block;
}

#skills-icons {
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact > h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 35px;
}

#contact > h2 > span {
    color: navy;
    font-weight: 700;
}

#contact-icons > figure {
    display: inline-block;
}

#contact-icons {
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
